.image
{
	grid-area: imageArea;
	background-color: black;
	width: 200px;
	height: 300px;
}

.infoPartOne 
{
	grid-area: infoPartOneArea;
}

.infoPartTwo 
{
	grid-area: infoPartTwoArea;
}


.grid-container
{
	display: grid;
	grid-template-areas:
	'imageArea infoPartOneArea'
	'infoPartTwoArea infoPartTwoArea';
	gap: 10px;
	padding: 10px;

}

.image img
{
	width: 200px;
	height: 300px;
}

.grid-container li ul
{
	margin-left: -25px;
}
.grid-container li
{
	margin-left: -25px;
}


